= render partial: 'navbar'
.header

  .header-content
    .contents__text
      %h1.header-heading Find Your Best
      %h2.header-subheading & Share Your Best

    -# .header-btn__post
    -#   = link_to 'Watch Reviews', "/reviews/new", method: :post 
.thumnails
  %ul.thumnail.listview
  - @pizzas.each do |pizza|
    %li.thumnail.listview-products
      = link_to pizza_path( pizza.id ), method: :get do
        = image_tag( pizza.image, class: 'thumnail-pizza', alt: pizza.menu )             
        .thumnail-title=pizza.menu 

.footer
  %ul.links
    %li.links-github
      = link_to 'https://github.com/TakkAlGhul/pizzapp' do
        %i.fab.fa-github
    %li.links-insta
      = link_to 'https://github.com/TakkAlGhul/pizzapp' do
        %i.fab.fa-instagram
    %li.links-facebook
      = link_to 'https://github.com/TakkAlGhul/pizzapp' do
        %i.fab.fa-facebook
  .copy
    ©Copyright 2019 Takuro Yakubo
               